.tooltip_container {
  position: relative;
    margin-left: 10px;

}

.tooltip {
  position: absolute;
  bottom: 100%;
  right: 50; 
  background-color: #2B2B2B;
  padding: 15px;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #D9D9D9;
  min-width: 150px;
  z-index: 100;
}

