.tooltip_container {
  position: relative;
  display: inline-block;
    margin-left: 10px;

}

.tooltip {
  position: absolute;
  top: 0;
  left: 100%; /* Position the tooltip to the right of the tooltip_container */
  transform: translateY(-50%);
  background-color: #2B2B2B;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  min-width: 180px;
  z-index: 100;

 @media (max-width: 600px) {
    left: 0;
    right: 100%; 
    top: 0;
    bottom: 0;
    transform: translateX(100%) translateY(0);
  }
}

